@using DemoWebApp.Tests
@using Newtonsoft.Json
@using LoanApplicationSite.Models

@section Scripts
{
  <script src="@Url.Content("~/Scripts/Custom.js")"></script>
}

@{
    ViewBag.Title = "Home Page";
}

<div class="container container-margin-top">

    @using (Html.BeginForm("SubmitForm", "Home"))
    {
        @Html.AntiForgeryToken()


        <fieldset>

            <legend>Select Plan to Compare</legend>


            @foreach (var path in Directory.GetDirectories(@"C:\Users\Public\Rogers"))
            {
                <div class="form-group">
                    <label class="province-label"><input type="checkbox" name="province" value="@Path.GetFileName(path)"> @Path.GetFileName(path)</label>
                </div>


                <div class="form-group">
                    @foreach (var listedFile in Directory.GetFiles(Path.GetFullPath(path), "*.json"))
                    {
                        DateTime fileCreatedTime = File.GetCreationTime(listedFile);
                        string fileNameOnly = Path.GetFileNameWithoutExtension(listedFile);
                        <label class="date-label"><input type="checkbox" name="vehicle" value="@fileNameOnly"> @fileCreatedTime</label><br />
                    }
                </div>

                <hr />
            }

            @Html.ValidationSummary()

            <input type="submit" value="Compare" class="btn btn-primary">
            <a href="" class="remove-check">Remove Check</a>
        </fieldset>
    }

    <h2>@ViewData["CheckBoxError"]</h2>
</div>
